/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import */
@import "utilidades/listas";
@import "utilidades/variables";
@import "utilidades/mixin";

/*HEADER*/

.flexbox-container{
    display: flex;
    align-items: center;
}

.flexbox-item2{
text-decoration: none;
}


/*MAIN*/

span{
    color:$color-secundario;
}

.dropdown-content a{
    text-decoration: none;
    color: pink;
    text-align: start;
}

.flexbox-item2{
    text-decoration: none;

}
.grid-main h1{
    color: $color-secundario;
    text-align: center;
}

.grid-main h2{
    color: $color-secundario;
    text-align: center;
}

.grid-main h3{
    color: $color-secundario;
    text-align: start;
}

p{
    color: $color-secundario;
    text-align: justify;
}

.grid-container{
    background-color: $color-principal;
}


/*FOOTER*/



/* MEDIA QUERIES: Mobile First */

@media only screen and (max-width:600px) {
    .grid-container{
        @include grid-container (grid, 10 80 10, 1, 1px);
    }
    .flexbox-container{
        @include flexbox-container (column, wrap, 2px)
         

    }
    .flexbox-item{
        @include flexbox-item (1, auto, auto, center)
        
    }

}

/* MEDIA QUERIES: Tablet */

@media only screen and (min-width: 600px) {
 .grid-container{
        @include grid-container (grid, 15 75 10, 1, 1px)
    }

}

/* MEDIA QUERIES: Desktop */

 @media only screen and (min-width: 1200px) {
 .grid-container{
        @include grid-container (grid, 20 70 10, 1, 1px)
    }

}