/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//IMPORT
@import "utilidades/listas";
@import "utilidades/variables";
@import "utilidades/mixin";


/*HEADER*/

/* img {...}

a {...}

*/

/*MAIN*/

/* h1 {...}

h2 {...}

h3 {...}

p {...}

*/

/*FOOTER*/

/* 
form label {...}
*/

/* MEDIA QUERIES: Mobile First */

@media only screen and (max-width:600px) {

    .grid-container{
        @include grid-container (grid, 10 80 10, 1, 1px)
    }

}

/*
h1 {...}
p {...}
a {...}
img {...} }
}
*/


/* MEDIA QUERIES: Tablet 

@media only screen and (min-width: 600px) {
@include nombredelmixin

}


MEDIA QUERIES: Desktop 

 @media only screen and (min-width: 1200px) {
 @include nombredelmixin

 */