/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import */
@import "utilidades/listas";
@import "utilidades/variables";
@import "utilidades/mixin";

/*HEADER*/

.flexbox-container{
        @include flexbox-container (column, wrap, 2px);
        align-items: center;

        img {
            flex: 1;
            height: auto;
            object-fit: contain;
         }

        span{
            display: block;
            text-align: center;
            color:$color-secundario;
        }

        .dropdown-content a{
            text-decoration: none;
            color: pink;
            text-align: start;

            .flexbox-item2{
                text-decoration: none;
                }
        }
}

/*MAIN*/

.grid-main h1{
    color: $color-secundario;
    text-align: center;
    font-size: large
}

.grid-main h2{
    color:pink;
    text-align: center;
    font-size: medium;
}

.grid-main h3{
    color: $color-secundario;
    text-align: start;
    font-size: small;
}

p{
    color: $color-secundario;
    text-align: justify;
    a{
        text-decoration: none;
        color:pink;
    }
}

.grid-container{
    background-color: $color-principal;
}


/*FOOTER*/
form label{
    color: $color-secundario;
}

ul{
   list-style: none;
   padding:0;
   margin:0;
   display: flex;
   gap: 1rem;
   justify-content: flex-end;

   li a{
    text-decoration: none;
    color: pink;
    font-weight: bold;
    }
}


/* MEDIA QUERIES: Mobile First */

@media only screen and (max-width:600px) {
    .grid-container{
        @include grid-container (grid, 10 80 10, 1, 1px);
    }
            

    }
    .flexbox-item{
        @include flexbox-item (1, 0, 0, center)
        
    }

/* MEDIA QUERIES: Tablet */

@media only screen and (min-width: 600px) {
 .grid-container{
        @include grid-container (grid, 15 75 10, 1, 1px)
    }

}

/* MEDIA QUERIES: Desktop */

 @media only screen and (min-width: 1200px) {
 .grid-container{
        @include grid-container (grid, 20 70 10, 1, 1px)
    }

}