// Mixin Grid

@mixin grid-container ($grid, $row, $columns, $gap) {
    display: $grid; 
    grid-template-rows: $row;
    grid-template-columns: $columns;
    gap: $gap;
}

@mixin grid-item ($area){
    grid-area: $area; 
} 

//Mixin Flexbox

@mixin flexbox-container ($direction, $wrap, $gap){
    display: flex;
    flex-direction: $direction ;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin flexbox-item ($grow, $shrink, $basis, $align){
flex-grow: $grow;
flex-shrink: $shrink ;
flex-basis: $basis;
align-items: $align;
}